<div>
   exmplae <span id="tt1" class="mark2 marker-contract">type</span> contract <span class="mark1 marker-name">name</span>  bla bla bla <span class="mark1 marker-name">name</span>
</div>
<div>
  some more text <span class="mark2 marker-contract">type</span>
</div>
