<p class="MsoNormal" align="center" dir="RTL" style="text-align:center"><b><u><span lang="HE" style="font-size:16.0pt;mso-ansi-font-size:15.0pt;line-height:150%;
font-family:&quot;David&quot;,&quot;sans-serif&quot;">כתב ויתור טענות<o:p></o:p></span></u></b></p><p class="MsoNormal" align="center" dir="RTL" style="text-align:center"><b><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;line-height:150%;
font-family:&quot;David&quot;,&quot;sans-serif&quot;">שנערך ונחתם ב _________ ביום _________ שנת
2016<u><o:p></o:p></u></span></b></p><p class="MsoNormal" align="center" dir="RTL" style="text-align:center"><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;line-height:150%;
font-family:&quot;David&quot;,&quot;sans-serif&quot;">בין:</span><b><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:
11.0pt;line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">_______________<o:p></o:p></span></b></p><p class="MsoNormal" dir="RTL"><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:
11.0pt;line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
(להלן: "<b>החברה</b>")<o:p></o:p></span></p><p class="MsoNormal" align="center" dir="RTL" style="text-align:center"><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;line-height:150%;
font-family:&quot;David&quot;,&quot;sans-serif&quot;">לבין:</span><b><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:
11.0pt;line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">_______________</span></b><b><span dir="LTR"><o:p></o:p></span></b></p><p class="MsoNormal" dir="RTL"><span dir="RTL"></span><span dir="RTL"></span><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;line-height:150%;
font-family:&quot;David&quot;,&quot;sans-serif&quot;"><span dir="RTL"></span><span dir="RTL"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
(להלן: "<b>העובד</b>")<o:p></o:p></span></p><p class="MsoNormal" dir="RTL" style="margin-top:6.0pt;margin-right:0in;margin-bottom:
6.0pt;margin-left:0in"><b><span lang="HE" style="font-size:12.0pt;line-height:
150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">הואיל</span></b><span lang="HE" style="font-size:12.0pt;line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;"> וביום
________ פנה העובד אל החברה והודיע שלבקשתו וברצונו לסיים את העסקתו כעובד החברה;<o:p></o:p></span></p><p class="MsoNormal" dir="RTL" style="margin-top:6.0pt;margin-right:0in;margin-bottom:
6.0pt;margin-left:0in"><b><span lang="HE" style="font-size:12.0pt;line-height:
150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">והואיל</span></b><span lang="HE" style="font-size:12.0pt;line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;"> והעובד
הודיע לחברה בדבר רצונו ליתן לחברה שירותים כעצמאי בתמורה לחשבונית, והחברה קיבלה
את הצעתו, על פי תנאים שיסוכמו במסמך נפרד הוסכם בין הצדדים על סיום העסקתו של
התובע ביום __________;<o:p></o:p></span></p><p class="MsoNormal" dir="RTL" style="margin-top:6.0pt;margin-right:0in;margin-bottom:
6.0pt;margin-left:0in"><b><span lang="HE" style="font-size:12.0pt;line-height:
150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">והואיל</span></b><span lang="HE" style="font-size:12.0pt;line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;"> והצדדים
מעוניינים לסיים בצורה נאותה את העסקתו של העובד ולמצות את כלל הטענות, במידה ותועלנה;<o:p></o:p></span></p><p class="MsoNormal" align="center" dir="RTL" style="text-align:center"><b><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;line-height:150%;
font-family:&quot;David&quot;,&quot;sans-serif&quot;">הוסכם, הוצהר והותנה בין הצדדים כדלקמן:<o:p></o:p></span></b></p><p class="MsoListParagraphCxSpFirst" dir="RTL" style="margin-right:14.1pt;
mso-add-space:auto;text-indent:-14.15pt;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="font-size:12.0pt;line-height:150%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin">1.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span dir="RTL"></span><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;
line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">המבוא להסכם זה מהווה חלק
בלתי נפרד הימנו.</span><span dir="LTR"><o:p></o:p></span></p><p class="MsoListParagraphCxSpMiddle" dir="RTL" style="margin-right:14.1pt;
mso-add-space:auto;text-indent:-14.15pt;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="font-size:12.0pt;line-height:150%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin">2.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span dir="RTL"></span><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;
line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">העסקתו של העובד תסתיים ביום
____________ ותכלול הודעה מוקדמת בעין.</span><span dir="LTR"><o:p></o:p></span></p><p class="MsoListParagraphCxSpMiddle" dir="RTL" style="margin-right:14.1pt;
mso-add-space:auto;text-indent:-14.15pt;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="font-size:12.0pt;line-height:150%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin">3.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span dir="RTL"></span><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;
line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">לעובד ייערך גמר חשבון כדין לרבות
תשלום פיצויי פיטורים בסך של ______________ ₪.</span><span dir="LTR"><o:p></o:p></span></p><p class="MsoListParagraphCxSpMiddle" dir="RTL" style="margin-right:14.1pt;
mso-add-space:auto;text-indent:-14.15pt;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="font-size:12.0pt;line-height:150%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin">4.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span dir="RTL"></span><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;
line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">בחתימתם, הצדדים מאשרים שהסכם
זה ממצה את כל זכויותיהם ביחס ליחסי העבודה שהתקיימו ביניהם, ו/או סיומם, ואין למי
מהם ו/או למי מטעמם טענות ולא תהיינה לו ו/או למי מטעמם טענות כלפי הצד השני מכל
טעם שהוא.<o:p></o:p></span></p><p class="MsoListParagraphCxSpMiddle" dir="RTL" style="margin-right:14.1pt;
mso-add-space:auto;text-indent:-14.15pt;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="font-size:12.0pt;line-height:150%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin">5.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span dir="RTL"></span><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;
line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">בחתימתם, הצדדים מאשרים ומסכימים
שהם מוותרים על כל תביעותיהם ו/או תביעות של מי מטעמם, בעבר ובעתיד, כלפי הצד השני.<o:p></o:p></span></p><p class="MsoListParagraphCxSpMiddle" dir="RTL" style="margin-right:14.1pt;
mso-add-space:auto;text-indent:-14.15pt;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="font-size:12.0pt;line-height:150%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin">6.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span dir="RTL"></span><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;
line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">הצדדים מאשרים, כי קראו היטב
את תוכנו של הסכם זה, כי הוא משקף את אשר הוסכם בין הצדדים, וכי הם חותמים על הסכם
זה מרצונם החופשי.</span><span dir="LTR"><o:p></o:p></span></p><p class="MsoListParagraphCxSpMiddle" dir="RTL" style="margin-right:14.1pt;
mso-add-space:auto;text-indent:-14.15pt;mso-list:l0 level1 lfo1"><!--[if !supportLists]--><span style="font-size:12.0pt;line-height:150%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin">7.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span dir="RTL"></span><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;
line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">הסכם זה מהווה גם פשרה והודאת
סילוק לעניין סעיף 29 לחוק פיצויי פיטורים, תשכ"ג-1963.</span><span dir="LTR"><o:p></o:p></span></p><p class="MsoListParagraphCxSpMiddle" dir="RTL" style="margin-right:14.1pt;
mso-add-space:auto"><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:
11.0pt;line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;"><o:p>&nbsp;</o:p></span></p><p class="MsoListParagraphCxSpMiddle" align="center" dir="RTL" style="text-align:
center"><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;
line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">ולראיה באו הצדדים על החתום:<o:p></o:p></span></p><p class="MsoListParagraphCxSpMiddle" align="center" dir="RTL" style="text-align:
center"><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;
line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;"><o:p>&nbsp;</o:p></span></p><p class="MsoListParagraphCxSpMiddle" dir="RTL"><u><span lang="HE" style="font-size:
12.0pt;mso-ansi-font-size:11.0pt;line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></u><span lang="HE" style="font-size:12.0pt;mso-ansi-font-size:11.0pt;line-height:150%;
font-family:&quot;David&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <o:p></o:p></u></span></p><p dir="rtl" style="line-height: 1.7999999999999998; margin-top: 0pt; margin-bottom: 10pt; text-align: center;" data-mce-style="line-height: 1.7999999999999998; margin-top: 0pt; margin-bottom: 10pt; text-align: center;">













































</p><p class="MsoListParagraphCxSpLast" dir="RTL"><span lang="HE" style="font-size:12.0pt;
mso-ansi-font-size:11.0pt;line-height:150%;font-family:&quot;David&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;החברה&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;העובד</span><span dir="LTR"><o:p></o:p></span></p>
