{{#*inline "contract"}}
  <div class="col-lg-3">
    <img src="images/contract-icon.png" />
    <div>{{name}}</div>
  </div>
{{/inline}}


<script id="contract-template" type="text/x-handlebars-template">

  <div class="row">
    \{{#each contracts}}
      <div class="col-lg-3">
        <a href="\{{link}}">
        <img  class="temp-img" src="images/contract-iconV2.png" />
      </a>
        <span class="temp-name">\{{{name}}}</span>
     </div>
    \{{/each}}

  </div>
 </script>

<div class="contract-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="search-container">
                    <h2>Search for a legel template</h2>
                    <h4>enter keywords for document</h4>
                    <div class="col-md-4">

                  </div>
                    <div class="col-md-4">
                    <input id="search-input" class="form-control" />
                  </div>
                  <div class="col-md-4">

                </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="container-fluid" id="contract-search-res">

</div>
